name = "insighthunter-afp"
main = "workers/index.ts"
compatibility_date = "2025-12-12"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "insighthunter-db"
database_id = "aa2b9aa2-f1dd-4fdc-b4b0-d9b4bdc2ea57"

[[kv_namespaces]]
binding = "KV"
id = "5d547bc308d1445d960d19636c589923"

[[r2_buckets]]
binding = "R2"
bucket_name = "insighthunter-reports"
R2_BUCKET_URL = "https://r2.app.insighthunter.app"
R2_S3_ACCESS_KEY = " "
R2_S3_SECRET_ACCESS_KEY = " "

[vars]
ENVIRONMENT = "production"
WORKER_BASE_URL = "https://api.insighthunter.app.workers.dev"
ACCESS_ISSUER = "https://<your-team>.cloudflareaccess.com"
ACCESS_AUD = "<your-access-app-audience-tag>"
JWKS_URL = "https://<your-team>.cloudflareaccess.com/cdn-cgi/access/certs"
R2_BUCKET_URL = "https://<accountid>.r2.cloudflarestorage.com/insighthunter-reports""

[triggers]
crons = ["0 2 * * *"] # nightly cleanup at 02:00 UTC


